/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.v-field__disabled-opacity-100 .v-field {
  opacity: 1;
}

.inner-compact .v-field__append-inner {
  margin-left: -4px;
}

.v-btn.auto-height {
  height: auto;
  min-height: var(--v-btn-height);
}
